##----------idea----------
*.iml
.idea/
*.ipr
*.iws

.DS_Store
.vscode/*
*.o
*.xlsx
COMP5349/assignment1/.ipynb_checkpoints/COMP5349-yixu6543-Yiwei-Xu-checkpoint.ipynb
COMP5349/assignment1/dataflow_pseudocode.py
*.zip
COMP5349/assignment1/.ipynb_checkpoints/Assignment1-yixu6543-Yiwei-Xu-checkpoint.ipynb
COMP5349/assignment2/.ipynb_checkpoints/Assignment2-yixu6543-Yiwei-Xu-checkpoint.ipynb
