[submodule "COMP5416/FindMyGym"]
	path = COMP5416/FindMyGym
	url = https://github.com/COMP5216-Group19/FindMyGym.git
[submodule "COMP5216/FindMyGym"]
	path = COMP5216/FindMyGym
	url = https://github.com/COMP5216-Group19/FindMyGym.git
